#banner-container{
    /* background-color: #82BEDB; */
    /* opacity: 0.5; */
    /* margin: 1em; */
    /* padding-top: 5em; */
    height: 100vh;
    width: 100%;
    min-height: 100%
}

/* .h2-banner{
    background: url('../img/Banner.jpg');
    height: 100vh;
    background-size: cover;
    vertical-align: middle;
} */

/* #banner-filtro{
    background: url('../img/Banner.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    line-height: 500%;
    text-align: center;
    vertical-align: middle;
} */

.carousel-inner {
    height: 100%;
    /* background: url('../img/Banner-layout.png'); */
    background-color: #82BEDB;
    background-size: 100%;
    width: 100%;
}

/* ol{
    top: 75%;
} */


.img-banner{
    opacity: 0.9;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.carousel-caption{
    position: unset;
    left: 0%;
    right: 0%;
    padding: .3em;
}

/* .carousel-control-prev, .carousel-control-next{
    background-color: lightblue;
} */

.carousel-control-prev-icon, .carousel-control-next-icon{
    padding: 30%;
    /* border-radius: 20%; */
    /* background-color: black; */
}

#banner-h{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.h{
    /* text-align: center; */
    margin-left: 1%;
}